<div class="d-header navbar navbar-fixed-top" id="navigation">
    <div class="container">
      <div class="contents">
        <div class="row">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="#intro" class="brand"><img src="<%=asset_path('logo.png')%>" alt="" height='45px' width='130px'></a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li><a href="#intro">Home</a></li>
              <li><a href="http://ask.beyondpath.com" target="_blank">Ask</a></li>
              <li><a href="http://blog.beyondpath.com" target="_blank">Blog</a></li>
              <li><a href="http://blog.beyondpath.com/post/63431114117/welcome-to-beyondpath" target="_blank">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>